* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkgray;
}

section {
  height: 370px;
  width: 370px;
  background: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  width: 320px;
  height: 320px;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section > p {
  width: 65%;
  margin: 11px 0;
}

.dice-section {
  margin-top: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
}

.die {
  height: 33px;
  width: 33px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  background-color: white;
  color: #111;
}

button {
  background: #85929e;
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: white;
  width: 88px;
  height: 36px;
  margin-top: 33px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

button:active {
  background: darkgray;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: white;
  width: 88px;
  height: 36px;
  margin-top: 33px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 28px;
  color: #333;
}

p {
  color: #444;
}
